[Unit]
Description=Send mails with ticket sales from SafeTicket

[Service]
WorkingDirectory=%h/safeticket_mailer

Type=oneshot
#ExecStart=/usr/bin/env true
ExecStart=/usr/bin/env python3 main.py --show-emails --send-emails

[Install]
WantedBy=default.target
